body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00111c;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.logo{
    border: 2px solid none;
    margin-top: 25px;
    color: #b60854;
    /* color: rgb(0, 66, 94); */
    font-size: 45px;
    font-weight: 500;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: 'poppins', sans-serif;
}

ul{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid none;
    margin-top: 40px;
    list-style: none;
}

li{
    color: #fff;
    margin: 0 20px;
}

li:hover{
    color: #b60854;
    cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 150px 0;
    gap: 20px;
    border: 1px solid none;
}

.left{
    border: 1px solid none;
    width: 40%;
    height: 400px;
    color: #fff;
    padding-top: 20px;
}

h1{
    font-family: 'poppins', sans-serif;
    font-size: 42px;
}

.wd{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.right{
    border: 1px solid none;
    width: 30%;
    height: 400px;
    justify-items: center;
    /* align-content: center; */
}

.inner_right{
    border: 1px solid none;
    /* margin: 50px; */
    background-image: url("portfolio_tpcimg.png");
    background-position: center;
    background-size: cover;
    height: 280px;
    width: 280px;
}

.about_left{
    border: 1px solid none;
    width: 25%;
    height: 600px;
    background-image: url("about_tpc_portfolioimage");
    background-size: cover;
    background-position: center;
}

.about_right{
    border: 1px solid none;
    width: 50%;
    height: 600px;
    padding-left: 30px;
}

.about{
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

p{
    color: #fff;
    font-size: 18px;
    word-spacing: 2px;
    font-family: 'poppins', sans-serif;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #fff;
    font-family: 'poppins', sans-serif;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}

.tab-contents{
     
}